# Analysis of MSPA Survey

## Data preparation

In [2]:
# external libraries for visualizations and data manipulation
# ensure that these packages have been installed prior to calls
import os
import pandas as pd  # data frame operations  
import numpy as np  # arrays and math functions
import matplotlib.pyplot as plt  # static plotting
import seaborn as sns  # pretty plotting, including heat map
%matplotlib notebook

In [3]:
# read in comma-delimited text file, creating a pandas DataFrame object
valid_survey_input = pd.read_csv('mspa-survey-data.csv')

In [4]:
# use the RespondentID as index for the rows, descending order (drop = True)
valid_survey_input.set_index('RespondentID', drop = True, inplace = True)
valid_survey_input.head()

,Personal_JavaScalaSpark,Personal_JavaScriptHTMLCSS,Personal_Python,Personal_R,Personal_SAS,Professional_JavaScalaSpark,Professional_JavaScriptHTMLCSS,Professional_Python,Professional_R,Professional_SAS,...,PREDICT453,PREDICT454,PREDICT455,PREDICT456,PREDICT457,OtherPython,OtherR,OtherSAS,Other,Graduate_Date
RespondentID,,,,,,,,,,,,,,,,,,,,,
5135740122,0,0,0,50,50,0,0,0,25,75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5133300037,10,10,50,30,0,25,25,30,20,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring 2018
5132253300,20,0,40,40,0,0,0,40,40,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2018
5132096630,10,10,25,35,20,10,10,25,35,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2017
5131990362,20,0,0,70,10,20,0,0,80,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CS-435 with Weka,Fall 2018

In [5]:
print('\nContents of initial survey data ---------------')
# could use len() or first index of shape() to get number of rows/observations
print('\nNumber of Respondents =', len(valid_survey_input)) 
# show the column/variable names of the DataFrame (Note: RespondentID is no longer present)
print('\nColumn Names =', valid_survey_input.columns)

Contents of initial survey data ---------------

Number of Respondents = 207

Column Names = Index(['Personal_JavaScalaSpark', 'Personal_JavaScriptHTMLCSS',
       'Personal_Python', 'Personal_R', 'Personal_SAS',
       'Professional_JavaScalaSpark', 'Professional_JavaScriptHTMLCSS',
       'Professional_Python', 'Professional_R', 'Professional_SAS',
       'Industry_JavaScalaSpark', 'Industry_JavaScriptHTMLCSS',
       'Industry_Python', 'Industry_R', 'Industry_SAS',
       'Python_Course_Interest', 'Foundations_DE_Course_Interest',
       'Analytics_App_Course_Interest', 'Systems_Analysis_Course_Interest',
       'Courses_Completed', 'PREDICT400', 'PREDICT401', 'PREDICT410',
       'PREDICT411', 'PREDICT413', 'PREDICT420', 'PREDICT422', 'PREDICT450',
       'PREDICT451', 'PREDICT452', 'PREDICT453', 'PREDICT454', 'PREDICT455',
       'PREDICT456', 'PREDICT457', 'OtherPython', 'OtherR', 'OtherSAS',
       'Other', 'Graduate_Date'],
      dtype='object')

In [6]:
# Data types
valid_survey_input.dtypes

Personal_JavaScalaSpark               int64
Personal_JavaScriptHTMLCSS            int64
Personal_Python                       int64
Personal_R                            int64
Personal_SAS                          int64
Professional_JavaScalaSpark           int64
Professional_JavaScriptHTMLCSS        int64
Professional_Python                   int64
Professional_R                        int64
Professional_SAS                      int64
Industry_JavaScalaSpark               int64
Industry_JavaScriptHTMLCSS            int64
Industry_Python                       int64
Industry_R                            int64
Industry_SAS                          int64
Python_Course_Interest              float64
Foundations_DE_Course_Interest      float64
Analytics_App_Course_Interest       float64
Systems_Analysis_Course_Interest    float64
Courses_Completed                   float64
PREDICT400                           object
PREDICT401                           object
PREDICT410                           object
PREDICT411                           object
PREDICT413                           object
PREDICT420                           object
PREDICT422                           object
PREDICT450                           object
PREDICT451                           object
PREDICT452                           object
PREDICT453                           object
PREDICT454                           object
PREDICT455                           object
PREDICT456                           object
PREDICT457                           object
OtherPython                          object
OtherR                               object
OtherSAS                             object
Other                                object
Graduate_Date                        object
dtype: object

In [7]:
# shorten the variable/column names for software preference variables, and save it to new df
survey_df = valid_survey_input.rename(index=str, columns={
    'Personal_JavaScalaSpark': 'My_Java',
    'Personal_JavaScriptHTMLCSS': 'My_JS',
    'Personal_Python': 'My_Python',
    'Personal_R': 'My_R',
    'Personal_SAS': 'My_SAS',
    'Professional_JavaScalaSpark': 'Prof_Java',
    'Professional_JavaScriptHTMLCSS': 'Prof_JS',
    'Professional_Python': 'Prof_Python',
    'Professional_R': 'Prof_R',
    'Professional_SAS': 'Prof_SAS',
    'Industry_JavaScalaSpark': 'Ind_Java',
    'Industry_JavaScriptHTMLCSS': 'Ind_JS',
    'Industry_Python': 'Ind_Python',
    'Industry_R': 'Ind_R',
    'Industry_SAS': 'Ind_SAS'})

In [8]:
# define subset DataFrame for analysis of software preferences 
software_df = survey_df.loc[:,"My_Java":"Ind_SAS"]

In [9]:
# Identify incomplete rows  by counting each column has how many row with information in it
software_df.count()

My_Java        207
My_JS          207
My_Python      207
My_R           207
My_SAS         207
Prof_Java      207
Prof_JS        207
Prof_Python    207
Prof_R         207
Prof_SAS       207
Ind_Java       207
Ind_JS         207
Ind_Python     207
Ind_R          207
Ind_SAS        207
dtype: int64

In [10]:
# define subset DataFrame for analysis courese preferences 
courese_df = survey_df.loc[:,"Python_Course_Interest":"Systems_Analysis_Course_Interest"]

In [11]:
# Identify incomplete rows  by counting each column has how many row with information in it
courese_df.count()

Python_Course_Interest              206
Foundations_DE_Course_Interest      200
Analytics_App_Course_Interest       203
Systems_Analysis_Course_Interest    200
dtype: int64

In [12]:
# show NA
courese_df[courese_df.isna().any(axis=1)]

,Python_Course_Interest,Foundations_DE_Course_Interest,Analytics_App_Course_Interest,Systems_Analysis_Course_Interest
RespondentID,,,,
5128110446,35.0,NaN,90.0,10.0
5125871009,5.0,NaN,15.0,20.0
5124494137,60.0,30.0,10.0,NaN
5124324047,70.0,20.0,0.0,NaN
5123712353,NaN,NaN,NaN,NaN
5123212204,100.0,NaN,20.0,NaN
5119974763,75.0,75.0,99.0,NaN
5114369319,100.0,100.0,NaN,35.0
5113285140,50.0,NaN,NaN,NaN
5111062517,41.0,NaN,61.0,59.0
5109806898,30.0,NaN,NaN,NaN

## Data exploration

In [ ]:
software_df.describe()

In [ ]:
# software_df_transposed = software_df.T
# software_df_transposed.head()

# ???? how to group them and plot in one, how to add error bar, how to fix X axis, and save them
software_df.loc[:,"My_Java":"My_SAS"].mean().plot(kind='barh')
plt.show()
software_df.loc[:,"Prof_Java":"Prof_SAS"].mean().plot(kind='barh')
plt.show()
software_df.loc[:,"Ind_Java":"Ind_SAS"].mean().plot(kind='barh')
plt.show()

In [ ]:
# vote distribution ???? how to fix X axis
num_bins = 10
software_df.hist(bins=num_bins, figsize=(20,15))
# plt.savefig("hr_histogram_plots")
plt.show()

## Data visualization

## Data scaling and comparisons

## Insights from analysis